@model IEnumerable<DataAccessLayer.Models.Product>

@{
    ViewData["Title"] = "Productoverzicht";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Maak een nieuw product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product Naam</th>
            <th>Product Beschrijving</th>
            <th>Product Prijs</th>
            <th>Voorraad</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>€@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Stock)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa-solid fa-info"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
